

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #cce0ff;
}

button,input, select{
    font:inherit;
    margin:0;
    overflow: visible;
    text-transform: none
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: 100%;
}

.flex-container > * {
    flex: 1 100%;
}

.cabecera{
    width: 100%;
    height: 10%;
    border-radius: 25px;

}

.titulo{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.azul1{
    background-color: #1a75ff!important;
    color: #000!important;
}

.azul2{
    background-color: #4d94ff!important;
    color: #000!important;
}
.azul3{
    background-color: #cce0ff!important;
    color: #000!important;
}

.derecha{
    float: right!important;
}

.izquierda{
    float: left!important;
}
.txt_izquierda{
  text-align: left;
}

.centrado{
    text-align: center!important;

}
.margin_izquierda{
    margin-left: 5%;
}

.margin_derecha{
    margin-right: 5%;
}

.margin_top{
    margin-top: 1%;
}

.margin_bottom{
    margin-bottom: 1%;
}
.login_div{
    width: 10%;
}

.frame{
    float: left;
    width: 100%;
    height:100%;
    border: none;
    overflow-y:scroll;
}
.tamanopadre{
    width: 100%;
    height:75%;
}
.tamanohijo1{
    width: 12%;
}
.tamanohijo2{
    width: 85%;
    height:100%;

}

.tamanotabla{
    width: 80%;
    height: 80%;
    padding:100px;

}


table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th{
	border: 1px solid #000;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #9dd7e1
}
.menulateral{
    height: 90%;
    border-radius: 25px;
    margin-left: 1%;
}

.footer{
    height: 5%;
    width:100%;
}
