{% extends 'base.html' %}

{% block article %}
    <br>
        <h1>Add a WorkFlow</h1>
    <div>
      <form id = "upload_form" method = "post" action="/upload/add_workflow/ " enctype = "multipart/form-data">
        {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}<br>
          {% endfor %}
        {% for field in form.visible_fields %}
          {{ field.help_text }}
          {{ field }}<br>
        {% endfor %}
        <br>
      <input type="submit"  value= "Upload Workflow">
      </form>

    </div>
{% endblock %}
