{% extends 'base.html' %}

{% block principal %}

    {% if result == False %}
      <h3>{{error}}</h3>
    {% else  %}
    <h1 class ="izquierda">Add a WorkFlow</h1>
    <div class="tamanotabla">
      <form id = "upload_form" method = "post" action="{% url 'add_workflow' %} " enctype = "multipart/form-data">
        {% csrf_token %}

        <table class=" izquierda">
        {% if status == False %}
        <br>
        <div class="error_name">
        <p> Ya existe un workflow con este nombre </p>
      </div>
        {% endif%}
        {% for field in form.visible_fields %}
          <tr class="fila">
            <th class="columna">{{ field.help_text }}</th>
            <th class="columna">{{ field }}</th>
          </tr>
        {% endfor %}
      </table>


      <br>
      <input type="submit" class="izquierda"  value= "Upload Workflow">
      </form>
    </div>
    {% endif %}
{% endblock %}
