<!doctype html>
{%load static %}
<html lang="en">



  <head>
  {%block extra_css %}
  <link rel ="stylesheet"  type= "text/css" href="{%static 'css/rodricss.css'%}">
  {% endblock %}
    <title>
      {% block title %}
       App
       {% endblock %}
     </title>
     {% block scripts %}
     {% endblock %}

     <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>

  <header>{% block header %}
    <h1> <a href="/">App HEROKU</a></h1>

    {% endblock %}
  </header>
  {% block script%}
  {% endblock %}
  <body>

    <div class="flex-container">
      <div class="subheader ">
        {% block subheader %}
        <h3 class ="izquierda margin_derecha">Search Workflow</h3>
        <form action='/workflow_search/' method='post' class = "margin_top izquierda">
          {% csrf_token %}
          <select name="selector">
           <option value="name">Name</option>
           <option value="slug">Slug</option>
         </select>
        <input type = 'text' placeholder="Search a workflow..." name ="key" id ="name">
        <input type = 'submit' value = "Search">
      </form>
        {% endblock %}
      </div>

      <div class= "tamanopadre margin_izquierda">
            {% block principal %}
            {% endblock %}

      </div>
    </div>
  </body>

  <footer class="centrado footer">
    {% block footer %}
    <h4> Footer de la app</h4>
    {% endblock %}
  </footer>


</html>
