{% extends 'base.html' %}

{% block content %}
{% block principal %}
<div class="tamanohijo1  menulateral izquierda margin_izquierda">

    <h3>CATEGORIAS<h3 >
    <ul id= "nav">
          <li >
              <a href="/">All</a>
          </li>
          <br>
          {% for c in categories%}
          <li class="active">
              <a href="/workflow_list/{{c.slug}}/">{{c.name}}</a>
          </li>
          <br>
          {% endfor %}
      </ul>

    <br>

    <form  action="{% url 'add_workflow' %} ">
    <input type="submit"  value= "Upload Workflow">
    </form>

    </div>
    <div class="tamanohijo2 izquierda  txt_izquierda  margin_izquierda">

  <div class = "margin_izquierda">

    <h3>WORKFLOWS ({{category.name}})<h3>

    {% for w in workflows_p%}
    <p>
      <a href="/workflow_detail/{{w.id}}/{{w.slug}}">{{w.name}}</a>
      : {{w.description}}
    <p>
    {% endfor %}
    {% if workflows_p.has_previous %}
      <a href="?page={{ workflows_p.previous_page_number }}">&laquo;</a>
    {% else %}
      <a class="disabled"><span>&laquo;</span></a>
    {% endif %}
    {% for i in workflows_p.paginator.page_range %}
      {% if workflows_p.number == i %}
        <a class="active"><span>{{ i }} <span class="sr-only"></span></span></a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if workflows_p.has_next %}
      <a href="?page={{ workflows_p.next_page_number }}">&raquo;</a></li>
    {% else %}
      <a class="disabled"><span>&raquo;</span></a>
    {% endif %}
  </div>
      </div>


   {% endblock %}
{% endblock %}
